* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: url("images/landing-bg-pattern.png") no-repeat bottom / contain #393e50;
}

P {
    color: white;
    margin: 0%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.temp {
    width: 100%;

}

.template p {
    width: 100%;
    padding: 10px;
    border: solid 1px white;
    text-align: center;
}

.template p:hover {
    background-color: #FCEF57;
}

.milieu {
    display: flex;
    width: 100%;
}

.theme {
    margin-top: 10%;
    width: 100%;
}

.imagetheme {
    margin-top: -5%;
}

.thinfo {
    padding: 8px;
    display: flex;
}

#t1 {
    flex: 100%;
    background: linear-gradient(#3db079, #7AC277, #C2D875);
}

#t2 {
    background: linear-gradient(#93dbaa, #7BCCC6, #66BEDE);
}

#t3 {
    background: linear-gradient(#fce25e, #FAB570, #F98D81);
}

#t4 {
    background: linear-gradient(#526296, #6282B6);
}

#t5 {
    background: linear-gradient(#f2a54a, #F6BF79);
}

#t6 {
    background: linear-gradient(#434bbe, #59B0D0);
}

.infos {
    margin: auto;
    text-align: left;
}

#player1 {
    position: relative;
    width: 100%;
    height: 100%;
}

#pl1 {
    width: 150%;
    position: absolute;
    left: -350px;
    top: 100px;
}

#player2 {
    position: relative;
    width: 100%;
}

#pl2 {
    width: 150%;
    position: absolute;
    right: -350px;
    top: 100px;
}

.theme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    text-align: center;
}